site_name: qm2 Documentation
site_description: Official documentation for the qm2 terminal quiz manager.
site_author: ahalvadzija
repo_url: https://github.com/ahalvadzija/qm2
site_url: https://ahalvadzija.github.io/qm2/

theme:
    name: material
    language: en
    palette:
        # Dark theme
        - scheme: slate
          primary: blue grey
          accent: indigo
          toggle:
              icon: material/brightness-4
              name: Switch to light mode

        # Light theme
        - scheme: default
          primary: blue grey
          accent: indigo
          toggle:
              icon: material/brightness-7
              name: Switch to dark mode

    features:
        - navigation.tabs
        - navigation.sections
        - navigation.expand
        - content.code.copy
        - search.suggest
        - search.highlight
        - navigation.top
        - header.autohide

    font:
        text: Roboto
        code: Roboto Mono

extra_css:
    - stylesheets/extra.css

plugins:
    - search
    - mkdocstrings:
          handlers:
              python:
                  paths: [src]

nav:
    - Home: index.md
    - User Guide: guide.md
    - Development & Testing: dev.md
    - API Reference: reference.md
