name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: 'pip' # Ubrzava instalaciju pri svakom run-u

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install pytest ruff

      - name: Lint with ruff
        run: ruff check .

      - name: Run tests with pytest
        env:
          PYTHONPATH: src
        run: pytest -v